# Activity 2 - Least Squares Method Linear Regression
Construct a least squares linear model for the dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
    
# Loading the data from activity 1
df = pd.read_csv('activity2_measurements.csv')
df_first_year = df[:365]
rolling = pd.read_csv('activity2_rolling.csv')
window = 20

Visualising the measurements

In [2]:
df.head()

         Date  TempAvgF  Year  Month
0  2013-12-21        60  2013     12
1  2013-12-22        48  2013     12
2  2013-12-23        45  2013     12
3  2013-12-24        46  2013     12
4  2013-12-25        50  2013     12

Visualise the rolling average values

In [3]:
rolling.head(n=30)

    TempAvgF
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19     47.75
20     48.00
21     48.70
22     49.30
23     49.85
24     50.20
25     50.40
26     50.55
27     50.70
28     50.90
29     51.85

Create a linear regression model using the default parameters i.e. calculate a y-intercept for the model and do not normalise the data

Now fit the model.  Where the input data is the day number for the year (1 to 365) and the output is the average temperature.  To make later calculations easier insert a column (DayOfYear) which corresponds with the day of the year for that measurement.

Fit the model with the DayOfYear values as the input as df_first_year.TempAvgF as the output

Print the parameters of the model

What does the trendline provided by the model look like?  We can plot this simply using the first, middle and last years in the linear equation.

Plot the values with the trendling

Evaluate the performance of the model

How well does the model fit the data?  Calculate the $r^2$ score to find out.